<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load user_filters %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
</head> 
<body class="body"> 
{% include 'nav.html' %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Регистрация</h1>
    </div>
    <div class="form-container">
        <form method="post" action="{% url 'signup' %}" class="form">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form__group" aria-required={% if field.required %}"true" {%else%} "false" {% endif %}>
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}{% if field.required %}<span class="required">*</span>{% endif %}</label>
                <div class="form__field-group">
                    {{ field|addclass:"form__input" }}
                    {% if field.errors %}
                    <span class="form__error">{{ field.errors }}</span>
                    {% endif %}
                    {% if field.help_text %}
                    <span class="form__input-info">{{ field.help_text }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}


            <div class="form__footer">
                <button type="submit" class="button button_style_blue">Создать аккаунт</button>
            </div>
        </form>
    </div>


</main>
{% include 'footer.html' %}
</body>
</html>
