<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ошибка 500</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/pages/shopList.css' %}">
</head>
<body class="body">
{% include 'nav.html' %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Ошибка 500</h1>
    </div>
    
            <p class="nav__link">Ошибка на сервере, попробуйте обновить страницу или обратиться позже</p>
            <div class="custom-button-block">
                <a href="{% url 'index' %}"><button class="button button_style_blue">Вернуться на главную</button></a>
            </div>


</main>
{% include 'footer.html' %}
</body>
</html>