<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load user_filters %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сброс пароля</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
</head>
<body class="body">
{% include 'nav.html' %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>   
    </div>
    <div class="form-container">
        <form class="form" method="POST">
            {% csrf_token %}
            <p class="form__info-text">
                Введите новый пароль
            </p>
            <div class="form__group">
                
                <label for="id_email" class="form__label">{{ form.new_password1.label_tag }}</label>
                <div class="form__field-group">
                    <input type="password" name="new_password1" required id="id_new_password1" class="form__input" maxlength="254">
                    <span class="form__error">{{ form.new_password1.errors }}</span>
                </div>
                
            </div>
            <div class="form__group">
                <label for="id_email" class="form__label">{{ form.new_password2.label_tag }}</label>
                <div class="form__field-group">
                    <input type="password" name="new_password2" required id="id_new_password2" class="form__input" maxlength="254">
                    <span class="form__error">{{ form.new_password2.errors }}</span>
                </div>
                
            </div>
           <div class="form__footer">
               <button type="submit" class="button button_style_blue">Сбросить пароль</button>
           </div>
        </form>
    </div>


</main>
{% include 'footer.html' %}
</body>
</html>
