<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои подписки</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/pages/myFollow.css' %}">
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
</head>
<body class="body">
{% include 'nav.html' with menu=2 %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>
    {% csrf_token %}
    {% if empty == True %}
        <div class="custom-center-block">
        <p class="custom-text-block">Эта страница пока пуста.</p>
            <div class="custom-button-block">
            <a href="{% url 'index' %}"><button class="button button_style_blue" >Перейти на главную</button></a>
            </div>
        </div>
        {% endif %} 
    {% for author in page %}
    <div class="card-list">
               
        <div class="card-user" data-author="{{ author.0.id }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ author.0.username }}</h2>
            </div>
            <div class="card-user__body">
                <ul class="card-user__items">
                    {% for recipe in author.1 %}
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe__image">
                            <a href="{% url 'recipe' recipe_id=recipe.id %}"><h3 class="recipe__title">{{ recipe.title }}</h3></a>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.done_time }}</p>
                        </div>
                    </li>
                    {% endfor %}
                    <li class="card-user__item">
                        <a href="{% url 'user_recipe' user_id=author.0.id %}" class="card-user__link link">Еще {{ author.2 }} рецептов...</a>
                    </li>
                </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
        </div>
        
    </div>
    {% endfor %}
    {% if page.has_other_pages %}
    {% include "paginator.html" with page=page paginator=paginator %}
    {% endif %}
</main>
{% include 'footer.html' %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/components/MainCards.js' %}"></script>
<script src="{% static '/js/components/MyFollow.js' %}"></script>
<script src="{% static '/js/components/Subscribe.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static '/myFollow.js' %}"></script>

</body>
</html>
