<div class="card" data-id="{{ recipe.id }}">
    {% load thumbnail %}
    {% csrf_token %}
    <a href="{% url 'recipe' recipe_id=recipe.id %}" class="link" target="_blank"><img src=" {{ recipe.image.url }}" alt="{{ recipe.title }}" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'recipe' recipe_id=recipe.id %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tag %}
            {%if tag == '2' %}
            <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
            {% endif %}
            {%if tag == '1' %}
            <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
            {% endif %}
            {%if tag == '3' %}
            <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.done_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="#" style="color: black">{{ recipe.author }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% if recipe.id in purchases_id %}
        <button class="button button_style_light-blue-outline" name="purchases">
            <span class="icon-check button__icon"></span>
            Рецепт добавлен
        </button>
        {% else %}
        <button class="button button_style_light-blue" name="purchases" data-out>
            <span class="icon-plus button__icon"></span>
            Добавить в покупки
        </button>
        {% endif %}
        {% if recipe.id in favorites_id %}
        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
        {% else %}
        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
        {% endif %}
        

    </div>
</div>