<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список покупок</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static '/pages/shopList.css' %}">
</head>
<body class="body">
{% include 'nav.html' with menu=5 %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% csrf_token %}
            {% for recipe in recipes %}
            <li class="shopping-list__item" data-id="{{ recipe.id }}">
                <div class="recipe recipe_reverse">
                    <img src="{{ recipe.image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <a href="{% url 'recipe' recipe_id=recipe.id %}"><h3 class="recipe__title">{{ recipe.title }}</h3></a>
                    <p class="recipe__text"><span class="icon-time"></span>{{ recipe.done_time }}</p>
                </div>
                <a href="" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
        </ul>
        {% if empty == True %}
        <a href="{% url 'index' %}"><button class="button button_style_blue">На главную</button></a>
        {% else %}
        <a href="{% url 'download_shoplist' %}" target="_blank"><button class="button button_style_blue">Скачать список</button></a>
        <a href="{% url 'clear_shoplist' %}" class="shopping-list__button link">Очистить список покупок</a>
        {% endif %}


    </div>
</main>
{% include 'footer.html' %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static '/js/components/Header.js' %}"></script>
<script src="{% static '/js/components/ShopList.js'%} "></script>
<script src="{% static '/js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
</body>
</html>
