<ul class="tags">
    {% for tag in tags %}
    <li class="tags__item">             
        {% if tag.2 == "True" %}
        <a id="breakfast" class="tags__checkbox {% if tag.0 == 1 %}tags__checkbox_style_orange {% elif tag.0 == 2 %} tags__checkbox_style_green {% else %} tags__checkbox_style_purple {% endif %} tags__checkbox_active" href="javascript:addOrUpdateUrlParam('{{tag.0}}', 'False')"></a>
        {% else %}
        <a id="breakfast" class="tags__checkbox {% if tag.0 == 1 %}tags__checkbox_style_orange {% elif tag.0 == 2 %} tags__checkbox_style_green {% else %} tags__checkbox_style_purple {% endif %}" href="javascript:addOrUpdateUrlParam('{{tag.0}}', 'True')"></a>
        {% endif %}
        <span class="tags__label">{{ tag.1 }}</span>    
    </li>
    {% endfor %}
</ul>