<ul class="tags">
    <li class="tags__item">                
        {% if tags.0 %}
        <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="javascript:addOrUpdateUrlParam('breakfast', 'False')"></a>
        {% else %}
        <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange" href="javascript:addOrUpdateUrlParam('breakfast', 'True')"></a>
        {% endif %}
        <span class="tags__label">Завтрак</span>    
    </li>
    <li class="tags__item">
        {% if tags.1 %}
        <a id="lunch" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="javascript:addOrUpdateUrlParam('lunch', 'False')"></a>
        {% else %}
        <a id="lunch" class="tags__checkbox tags__checkbox_style_green" href="javascript:addOrUpdateUrlParam('lunch', 'True')"></a>
        {% endif %}
        <span for="lunch" class="tags__label">Обед</span>
    </li>
    <li class="tags__item">
        {% if tags.2 %}
        <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="javascript:addOrUpdateUrlParam('dinner', 'False')"></a>
        {% else %}
        <a id="dinner" class="tags__checkbox tags__checkbox_style_purple" href="javascript:addOrUpdateUrlParam('dinner', 'True')"></a>
        {% endif %}
        <span for="lunch" class="tags__label">Ужин</span>
    </li>
</ul>